<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    {{>icon}}
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
            {{>header}}
            <div>
                <img class="portrait" src="/img/robot.png" >
                <p>This website was created by Noah. It utilises mapbox and weatherstack to obtain data. </p>
            </div>
    </div>
    
    {{>footer}}
</body>

</html>